/*@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(8, 8, 8);
    font-family: 'Fira Code', monospace;
}


/*----------------LOADER--------------------*/
.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(3, 3, 3);

    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 7%;
    height: 14%;
}

/*----------------LOADER--------------------*/

/*----------------HEADER--------------------*/
img {
    width: 150px;
    height: 150px;

    margin-left: 5%;
    margin-top: 3%;
}
/*----------------HEADER--------------------*/

/*----------------SELECTION MENU--------------------*/
.selection {
    width: 20%;
    margin-left: 8%;
    margin-top: 20%;
    font-weight: 400;
    font-size: 55px; 

    color: white;
}

.selection div {
    padding: 5%;

    position: relative;
    width: fit-content;
}

.selection div a {
    opacity: 0;
    animation: fade 0.01s ease-out 1.1s forwards;

    text-decoration: none;
    position: relative;
}

.selection div a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .25s cubic-bezier(1,.25,0,.75) 0s;
}

.selection div a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.selection div::after {
    background-color: white;
    display: block;
    content: '';
    position: absolute;
    top: 15%;
    left: 0;
    right: 100%;
    width: 0%;
    height: 70%;
    animation: swipe 1.5s ease-out 0.3s forwards;
}


@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
   
@keyframes swipe {
    0% {
     right: 100%;
     left: 0;
     width: 0%;
    }

    50% {
     right: 0;
     left: 0;
     width: 100%;
    }
    
    100% {
     right: 0;
     left: 100%;
     width: 0%;
    }
}
/*----------------SELECTION MENU--------------------*/